*{
    margin: 0;
}
body{
    background-color:beige;
    box-sizing: border-box; 
}
.container{
    width: 100vw;
    box-sizing: border-box;
}
.containerHeader{
    width: 80%;
    height: 30%;
    background: linear-gradient(rgb(49, 4, 49), #360442 );
}
.containerElementsHeader{
    width: 80%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 11%;
}
h1{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}
.containerElementsHeader h3{
    font-size: 22px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}
ul li{
    display: inline;
    margin-right: 10px;
    color: #ebe5e5;
    font-family: 'Poppins', sans-serif;
}
.find{
    width: 200px;
    display: inline-flex;
}
.find input{
    margin: 0;
    padding: 0;
    height: 26px;
    border-style: none;
}
.find button{
    margin: 0;
    padding: 0;
    height: 26px;
    width: 30px;
    border-style: none;
    background-color: #7a0c92;
}
.find img{
    width: 20px;
}
.containerTextHeader{
    width: 410px;
    height: 300px;
    text-align: justify;
    color: #dfd9d9;
    margin-top: 2%;
}
.containerTextHeader h3{
    font-size: 26px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #a13bb6;
    margin-bottom: 4%;
    text-align: center;
}
.containerTextHeader p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-left: 20px;
}
.elementsHeader{
    border-bottom: solid 5px #4FFF4B;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.containerImageHeader{
    width: 410px;
    height: 300px;
    margin-top: 2%;
}
.containerImageHeader img{
    max-width: 100%;
}
#seeMore{
    width: 150px;
    height: 26px;
    display: flex;
    margin-top: 20px;
}
#seeMore img{
    width: 18px;
}
#seeMore p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.containerMain{
    width: 80vw;
    background: linear-gradient(#ffffff , #a273ac);
}
.containerMainBox{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}
.box-1{
    width: 400px;
}
.box-1 img{
    max-width: 100%;
}
figcaption{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;   
    margin-bottom: 2%;
}
.box-1 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-bottom: 2%;
    color: #350a53;
}
.box-1 p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
}
.box-2{
    width: 400px;
}
.box-2-1 p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin: 0px 0px 3px 0;
    line-height: 20px;
}
.box-2-1 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 5px 0px;
    color: #350a53;
}
.box-2-2{
    border-top: solid 1px #cbafd1;
    margin-top: 30px;
}
.box-2-2 p{
    margin: 20px 0 5px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 20px;
}
.box-2-2 h3{
    margin: 5px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #350a53;
}
.box-3{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 5% 0 0 2%;
}
.box-3 img{
    width: 90%;
}
.figureAllign{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
}
.box-3 figcaption{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
.box-3 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
figure p{
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 30px;
}
.containerFooter{
    width: 80%;
    height: 16px;
    background: linear-gradient(rgb(136, 13, 136), rgb(63, 6, 63));
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #ffffff;
}